
  <div class="container">
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-4">
        <div class="card text-center shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <h3 class="card-title"><strong>Welcome to <br>Pet Adoption!</strong></h3>
            <p class="card-text text-center">
              If you're not sure what kind of pet you're looking for, we can help!
              Need to find a new home for your pet? We can help with that too!
              </br></br>
              Sign up or sign to begin. </p>
              <hr>
              <a href="/login" id="signin_button" class="btn btn-info">
                Sign In
              </a>          
              <a href="/signup" id="signup_button" class="btn btn-info">
                Sign Up
              </a>          
            </div>
        </div> 
      </div>
    </div>  
  </div>




